#slideme-main-wrapper {
  padding: 50px 0 0 0;
  background: #f8f8f8;
}

[data-slidemejs] {
  height: 435px;
  width: 1120px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
[data-slidemejs] * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[data-slidemejs] *::selection, [data-slidemejs] *:after::selection {
  background: transparent;
}

#slideme-info {
  background: #fff;
  width: 1120px;
  min-height: 50px;
  position: relative;
  margin: 50px auto 0 auto;
  padding: 25px 25px 50px 25px;
}
#slideme-info h2 {
  color: #000;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin: 10px 0 30px 0;
}

#slideme-abstract {
  font-size: 16px;
  line-height: 20px;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0 50px 25px 0;
}

#slideme-wrapper {
  float: left;
}

#slideme-container img {
  width: 100%;
  height: 100%;
}

#slideme-list-wrapper {
  position: relative;
  width: 1120px;
  height: 75px;
  clear: both;
  background: #000;
  overflow: hidden;
}
#slideme-list-wrapper .icon-nextslide, #slideme-list-wrapper .icon-prevslide {
  color: #fff;
  position: relative;
  top: 25px;
  left: 20px;
}

#slideme-list-wrapper.slideme-text {
  float: left;
  width: 480px;
  height: 360px;
  background: #fff;
  overflow: hidden;
  clear: none;
}
#slideme-list-wrapper.slideme-text #slideme-list {
  height: auto;
  top: 0;
  left: 0;
  color: #000;
  background: #fff;
  transition: top 300ms linear;
}
#slideme-list-wrapper.slideme-text #slideme-list [data-slideme-time] {
  position: relative;
  width: 100%;
  height: 360px;
}

#slideme-list {
  position: absolute;
  height: 75px;
  width: 100%;
  left: 50px;
  transition: left 300ms linear;
}
#slideme-list [data-slideme-time] {
  cursor: pointer;
}
#slideme-list img {
  height: 75px;
  width: 100px;
  float: left;
  opacity: 0.8;
  cursor: pointer;
}
#slideme-list .slideme-img-active {
  opacity: 1;
}

#slideme-list img:hover {
  opacity: 0.95;
}

#slideme-btn-prev {
  left: 0;
}

#slideme-btn-next {
  right: 0;
}

#slideme-btn-prev, #slideme-btn-next {
  position: absolute;
  top: 0;
  width: 50px;
  height: 75px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;
}

#slideme-btn-prev:hover, #slideme-btn-next:hover {
  background: rgba(18, 155, 239, 0.88);
}

#slideme-btn-prev::selection, #slideme-btn-next::selection {
  background: transparent;
}

.slideme-error {
  background: #fff;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  padding: 50px 0 0 50px;
}

#slideme-subtitle {
  position: absolute;
  bottom: 40px;
  @includ font-size(16, 16);
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  font-weight: 400;
  width: 100%;
  padding: 20px;
}

#slideme-html-nav {
 z-index: 10;
 position: absolute;
 width: 50px;
 height: 25px;
 bottom: 0;
 right: 0;
}
#slideme-html-nav-left, #slideme-html-nav-right {
  float: left;
  width: 25px;
  line-height: 25px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#slideme-html-nav-left:hover, #slideme-html-nav-right:hover {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.9);
}

.slideme-list-content {
  width: 100%;
  height: 100%;
  position: relative;
}

#videojs {
  margin: auto;
}
#videojs .vjs-big-play-button {
  box-shadow: none;
  margin: auto;
  position: relative;
  top: 35%;
}

#slideme-playlist {
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 999;
  bottom: -50px;
  right: 0;
}

#slideme-playlist-title {
  font-size: 12px;
  line-height: 40px;
  right: 0;
  position: absolute;
  top: 0;
  width: 120px;
  text-align: center;
  background: #000;
  color: #fff;
  font-weight: lighter;
  cursor: pointer;
}
#slideme-playlist-title.slideme-drop-active {
  width: 300px;
}
#slideme-playlist-drop {
  position: absolute;
  top: 0;
  right: 10px;
  transform: rotate(270deg);
  transition: transform 300ms linear;
}
.slideme-drop-active  #slideme-playlist-drop {
  transform: rotate(90deg);
}
#slideme-playlist-list { 
  width: 300px;
  max-height: 170px;
  overflow-y: auto;
  background: #EDEDED;
  position: absolute;
  right: 0;
  top: 40px;
  display: none;
  font-size: 14px;
}
#slideme-playlist-list a, #slideme-playlist-list p {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px solid #DBDBDB;
  cursor: pointer;
}
#slideme-playlist-list a:hover, #slideme-playlist-list p:hover {
  background: #fff;
}

#slideme-quality {
  line-height: 3em;
  height: 3em;
  float: left;
  cursor: pointer;
}
#slideme-change-quality {
  padding: 0 7px;
}
#slideme-change-quality:hover {
  text-shadow: 0 0 1em #fff;
}

#slideme-change-quality-list {
  display: none;
  position: absolute;
  top: -60px;
  padding: 0 7px;
  background: rgba(7,20,30,.7);
}
[data-quality]:hover {
  text-shadow: 0 0 1em #fff;
}



.slideme-html #slideme-container {
  top: 0;
  right: 0;
  position: absolute;
  background: red;
  overflow: hidden;
}

.slideme-html #videojs {
  top: 0;
  left: 0;
  position: absolute;
}



.slideme-images #videojs {
  top: 0;
  left: 0;
  position: absolute;
}

.slideme-images #slideme-container {
  position: absolute;
  top: 0;
  right: 0;
}

.slideme-images #slideme-list-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slideme-images-only #slideme-container img {
  max-width: 470px;
  margin: auto;
  display: block;
}

[data-slidemejs].slideme-images-only {
  width: 100%;
}

.slideme-images-only #slideme-list-wrapper {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  [data-slidemejs], #slideme-list-wrapper {
    width: 1000px;
  }

  #slideme-info {
    width: 1000px;
  }
}
@media screen and (max-width: 768px) {
  .slideme-images #slideme-container {
    display: none;
  }

  [data-slidemejs], #slideme-list-wrapper {
    width: 700px;
  }
}
@media screen and (max-width: 700px) {
  #slideme-main-wrapper {
    padding: 25px 0 0 0;
  }

  [data-slidemejs] {
    height: 360px;
  }

  #videojs {
    width: 300px !important;
  }

  .slideme-images #slideme-container, .slideme-images #slideme-list-wrapper {
    display: none;
  }

  [data-slidemejs], #slideme-list-wrapper {
    width: 300px;
  }
}
