[data-slidemejs] {
  height: auto;
  width: 100%;
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
[data-slidemejs] * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

[data-slidemejs] *::selection, [data-slidemejs] *:after::selection {
  background: transparent;
}


#slideme-wrapper {
  float: left;
}

#slideme-container img {
  width: 100%;
  height: 100%;
  display: block;
}

#slideme-list-wrapper {
  position: relative;
  width: 1120px;
  height: 75px;
  clear: both;
  background: #000;
  overflow: hidden;
}
#slideme-list-wrapper .icon-nextslide, #slideme-list-wrapper .icon-prevslide {
  color: #fff;
  position: relative;
  top: 25px;
  left: 20px;
}

.slideme-html #slideme-list-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  color: #000;
}
.slideme-html #slideme-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slideme-html #slideme-list, .slideme-html [data-slideme-time] {
  height: 100%;
  width: 100%;
}

.slideme-html [data-slideme-time] {
  display: none;
}
.slideme-html [data-slideme-time].slideme-img-active {
  display: block;
}

#slideme-list {
  position: absolute;
  height: 75px;
  width: 100%;
  left: 50px;
  transition: left 300ms linear;
}
#slideme-list [data-slideme-time] {
  cursor: pointer;
}
#slideme-list img {
  height: 75px;
  width: 100px;
  float: left;
  opacity: 0.8;
  cursor: pointer;
}
#slideme-list .slideme-img-active {
  opacity: 1;
}

#slideme-list img:hover {
  opacity: 0.95;
}

#slideme-btn-prev {
  left: 0;
}

#slideme-btn-next {
  right: 0;
}

#slideme-btn-prev, #slideme-btn-next {
  position: absolute;
  top: 0;
  width: 50px;
  height: 75px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;
}

#slideme-btn-prev:hover, #slideme-btn-next:hover {
  background: rgba(18, 155, 239, 0.88);
}

#slideme-btn-prev::selection, #slideme-btn-next::selection {
  background: transparent;
}

.slideme-error {
  background: #fff;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 980px;
  height: 500px;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  padding: 50px 0 0 50px;
}

#slideme-subtitle {
  position: absolute;
  bottom: 40px;
  @includ font-size(16, 16);
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  font-weight: 400;
  width: 100%;
  padding: 20px;
}

#slideme-html-nav {
 z-index: 10;
 position: absolute;
 width: 50px;
 height: 25px;
 bottom: 0;
 right: 0;
}
#slideme-html-nav-left, #slideme-html-nav-right {
  float: left;
  width: 25px;
  line-height: 25px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#slideme-html-nav-left:hover, #slideme-html-nav-right:hover {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.9);
}

.slideme-list-content {
  width: 100%;
  height: 100%;
  position: relative;
}

#videojs {
  margin: auto;
}
#videojs .vjs-big-play-button {
  box-shadow: none;
  margin: auto;
  position: relative;
  top: 35%;
}

#slideme-playlist {
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 99;
  bottom: -40px;
  left: 0;
}
.this-fixed #slideme-playlist {
  visibility: hidden;
}
.slideme-images-only #slideme-playlist {
  bottom: -115px;
}

#slideme-playlist-title {
  font-size: 12px;
  line-height: 40px;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 120px;
  text-align: center;
  background: #000;
  color: #fff;
  font-weight: lighter;
  cursor: pointer;
}
#slideme-playlist-title.slideme-drop-active {
  width: 300px;
}
#slideme-playlist-drop {
  position: absolute;
  top: 0;
  right: 10px;
  transform: rotate(270deg);
  transition: transform 300ms linear;
}
.slideme-drop-active  #slideme-playlist-drop {
  transform: rotate(90deg);
}
#slideme-playlist-list {
  width: 300px;
  max-height: 170px;
  overflow-y: auto;
  background: #EDEDED;
  position: absolute;
  left: 0;
  bottom: 40px;
  display: none;
  font-size: 14px;
}
#slideme-playlist-list a, #slideme-playlist-list p {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px solid #DBDBDB;
  cursor: pointer;
}
#slideme-playlist-list a:hover, #slideme-playlist-list p:hover {
  background: #fff;
}

#slideme-quality {
  line-height: 3em;
  height: 3em;
  float: left;
  cursor: pointer;
}
#slideme-change-quality {
  padding: 0 7px;
}
#slideme-change-quality:hover {
  text-shadow: 0 0 1em #fff;
}

#slideme-change-quality-list {
  display: none;
  position: absolute;
  top: -60px;
  padding: 0 7px;
  background: rgba(7,20,30,.7);
}
[data-quality]:hover {
  text-shadow: 0 0 1em #fff;
}



.slideme-html #slideme-container {
  top: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}

.slideme-html #videojs {
  top: 0;
  left: 0;
  position: absolute;
}



.slideme-images #videojs {
  top: 0;
  left: 0;
  position: absolute;
}

.slideme-images #slideme-container {
  position: absolute;
  top: 0;
  right: 0;
}

.slideme-images #slideme-list-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slideme-images-only #slideme-container img {
  max-width: 700px;
  margin: auto;
  display: block;
}

[data-slidemejs].slideme-images-only {
  width: 100%;
}

.slideme-images-only #slideme-list-wrapper {
  width: 100%;
}

.slideme-images-only {
  max-width: 980px;
}

[data-slidemejs].slideme-images-only #slideme-container {
  height: 100%;
}

#slideme-share {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.56);
  z-index: 30;
}
#slideme-title {
  color: #fff;
  padding: 30px;
  font-size: 30px;
}
#slideme-title p {
  font-size: 14px;
  line-height: 20px;
}
#slideme-code {
  color: #000;
  padding: 30px;
  background: rgba(255,255,255,.9);
  width: 520px;
  height: 95px;
  overflow: hidden;
  border: 0;
  margin: 0 0 0 30px;
  font-size: 12px;
  line-height: 12px;
  padding: 20px;
  position: relative;
  display: block;
  outline: none;
  resize: none;
}
#slideme-embed-close {
  color: #ABABAB;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}
#slideme-embed-close:hover {
  color: #fff;
}
[data-slidemejs] #slideme-code::selection , [data-slidemejs] #slideme-code :after::selection {
  background: rgba(56, 202, 255, 0.58);
}

.vjs-default-skin .vjs-control.slideme-vjs-title {
  width: 100%;
  background: rgba(0, 0, 0, .8);
  top: 0;
  text-align: left;
  position: absolute;
  padding: 15px 20px;
  font-size: 14px;
  line-height:14px;
  font-weight: 400;
  height: 40px;
  opacity: 0;
  transition: opacity 500ms linear;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vjs-default-skin .vjs-control.slideme-emebed-btn {
  width: auto;
  position: absolute;
  bottom: 8em;
  left: 2em;
}

.vjs-default-skin .vjs-control.vjs-live-controls {
  display: none;
}

.slideme-emebed-btn {
  opacity: 0;
  transition: opacity 500ms linear;
}

.vjs-has-started.vjs-user-active .slideme-emebed-btn, .vjs-has-started.vjs-user-active .slideme-vjs-title  {
  opacity: 1;
}
.vjs-has-started.vjs-user-inactive .slideme-emebed-btn, .vjs-has-started.vjs-user-inactive .slideme-vjs-title {
  opacity: 0;
}
.slideme-emebed-btn:after {
  content: 'Embed';
  display: block;
  padding: 0 15px;
  line-height: 3em;
  border: 2px solid #888;
  color: #FFF;
  border-radius: 2px;
  margin: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, .7);
}

.vjs-default-skin .vjs-control.slideme-fullscreen-btn {
  float: right;
  cursor: pointer;
  width: 70px;
}
.vjs-default-skin .vjs-control.slideme-fullscreen-btn:after {
  content : 'View Slides';
}
.vjs-default-skin .vjs-control.slideme-hd-btn:after {
  font-weight: 700;
  content : 'HD';
}
.vjs-default-skin .vjs-control.slideme-fullscreen-btn:after, .vjs-default-skin .vjs-control.slideme-hd-btn:after {
  display: block;
  line-height: 3em;
  color: #ccc;
  cursor: pointer;
}
.vjs-default-skin .vjs-control.slideme-fullscreen-btn:hover:after, .vjs-default-skin .vjs-control.slideme-hd-btn:hover:after {
  text-shadow: 0 0 1em #fff;
}
.vjs-default-skin .vjs-control.slideme-hd-btn {
  opacity: 0.5;
}
[data-slidemejs].this-fixed {
  position: fixed;
  margin: auto;
  z-index: 9999;
  top: 0;
  left: 0;
}

[data-slidemejs].this-fixed.full-mobile {
  position: relative;
  margin: auto !important;
}

#slideme-close-popup {
  font-family: Helvetica, Arial, sans-serif;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#slideme-fullscreen {
  z-index: -1;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

[data-slidemejs].full-mobile #slideme-container {
  margin: auto !important;
  width: auto !important;
  position:  relative;
}
[data-slidemejs].full-mobile #slideme-container img {
  width: auto;
  margin: auto;
}

.this-fixed.full-mobile.slideme-images #videojs {
  z-index: -1;

}

@media screen and (max-width: 700px) {
  #slideme-main-wrapper {
    padding: 25px 0 0 0;
  }

  [data-slidemejs] {
    height: 360px;
  }

  #slideme-code {
    width: 300px;
    height: 100px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  #slideme-title {
    padding: 10px;
  }
}

@media screen and (max-width: 415px) {

  .vjs-default-skin .vjs-control.slideme-fullscreen-btn {
    background: #000;
  }
  .vjs-default-skin .vjs-control.slideme-hd-btn {
    display: none;
  }
  .vjs-subtitles-button.vjs-menu-button.vjs-control {
    display: none;
  }

}
